article {
    /* border: 2px solid black; */
    margin-bottom: 10px;
    padding: 20px 25px;

}

h1 {

    font-size: 20px;
}

 h1, h2, h3, a {
     font-family: 'BentonSansRegular';

 }
 u {
    text-decoration: underline;
}

p,li {
    font-size: 18px;
    /* font-family:  'Arial', sans-serif; */
    font-family: 'BentonSansRegular';
}

p{
    line-height: 1.2em;
}

li {
    line-height: 2.0em;
}

header {
    height: 500px;
}


header {
    background: url('../images/holger-link-744074-unsplash.jpg') center left;
    background-size: cover;
    opacity: .80;

}

 footer {
    background-color:  #D3D3D3;
    padding-top: 2px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 15px;
}

.title {
    height: 200px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #101010;
    font-size: 80px;
    text-align: center;
    padding-top: 100px;
    border: 2px solid white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'BentonSansRegular';
}
img {
    height: 400px;
    width: 400px;
    margin-left: 150px;
    margin-right: 10px;
}
table {
    width: 100%;
}
table, th, td {
    border: 1px solid black
}
.gifs {
    display: flex;
    flex-direction: row;
}
.papers {
    /* display: flex; */

}
